ion-content{
    --background: 	#E5E4E2;
    align-items: center;
    font-size: 30px;

    
}
ion-card{
    text-align: center;
    
}

img{
       width: 55px;
       height: 55px;
        border-radius: 50%;
   }
 
   ion-label{
       font-size: 8px;
    
   }



ion-row{
justify-content: center;
margin-bottom: 1%;
text-align: center;

}

ion-card-subtitle{
    text-align: center;
 
   
}
ion-card-header{
    padding: 5%;
}

#col3{
    padding-top: 20px;
}
#linea{
    background-color: var(--ion-color-myColor);
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 3px;
    width: 40px;
    height: 1px;
}
#footer{
    background-color: var(--ion-color-myColor);
    // content: "";
    // margin: 0 auto;
     font-size: 1px;
     padding: 8px;
     margin-top: 5px;
}
